#header {
    text-align:center;
    padding:1px;
}

#footer {
    text-align:center;
    padding:10px 1px;
}

.line {
    width:100%;
    border:1px solid black;
    margin-bottom:15px;
    margin-top:15px;
    }

#home {
    width:33%;
    text-align:right;
    font-weight:bold;
}

#menu {
    width:33%;
    text-align:center;
    font-weight:bold;
}

#contact {
    width:33%;
    text-align:left;
    font-weight:bold;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}
