@font-face {
    font-family:"restaurant";
    src:url("fonts/chunkfive.otf");
}

#header {
    text-align:center;
    padding:1px;
    font-family:"restaurant";
}

#footer {
    text-align:center;
    border-top:solid black;
    margin-bottom:40px;
}

.line {
    width:100%;
    border:1px solid black;
    margin:5px;
}

a {
    text-decoration:underline;
}

a:visited {
    color:firebrick;
    }

a:hover {
    font-weight:bold;
}

a:active {
    text-decoration:none;
}

hr {
    height:2px;
    background-color:#555;
    width:100%;
    margin:auto;
}

h2 {
    text-align:center;
}