@font-face {
    font-family: "New Font";
    src: url("fonts/quicksand-bold.otf");
}

#name {
    text-align:center;
    font-family:"New Font";
    
}

table, td, th {
    border:2px solid black;		
    border-collapse:collapse;
}

tbody td {
    font-style:italic;
    background-color:powderblue;
    text-align:center;
}

th {
    background-color:slategray;
}

h3, h4 {
    text-align:center;
}

li {
    margin-left:5%;
    font-style:italic;
}

table.tracks {
    border:1;
    width:90%;
    margin:auto;
}

#number {
    width:10%;
}

#title {
    width:30%;
}