table, td, th {
    border:2px solid black;		
    border-collapse:collapse;			
}

tr {
    text-align:center;
}

h2, h3, h4 {
    text-align:center;
}

li {
    margin-left:5%;
}

table.tracks {
    border:1;
    width:90%;
    margin:auto;
}

#number {
    width:10%;
}

#title {
    width:30%;
}