@font-face {
    font-family: "New Font";
    src: url("fonts/quicksand-bold.otf");
}

#name {
    text-align:center;
    font-family:"New Font";
}

table, td, th {
    border:2px solid black;		
    text-align:center;
}

tbody td {
    font-style:italic;
}

tbody tr:nth-child(even){
    background-color:gainsboro;
}
	
tbody tr:nth-child(odd){
    background-color:powderblue;
}

th {
    background-color:slategray;

}

h3, h4 {
    text-align:center;
}

li {
    margin-left:5%;
    font-style:italic;
}

#number {
    width:10%;
}

#title {
    width:30%;
}

hr {
    height:1px;
    background-color:#555;
    margin:20 0px 20px 0px;
    width:100%;
    }