div {
    display:block;
}

#gameDiv {
    text-align:center;
}

h1 {
text-align:center;
}
            
h2 {
    text-decoration:underline;
}

table {
    margin:auto;
    margin-top:40px;
}
            
th {
    text-align:left;
    background-color:slategray;
}
            
th, td  {
    padding:10px 10px 15px 10px;
}

td {
    background-color:lightgrey;
}
button {
    padding:15px 35px 15px 35px;
    margin-top:20px;
    font-weight:bold;
    font-size:24px;
    background-color:springgreen;
}