@font-face {
    font-family:"restaurant";
    src:url("fonts/chunkfive.otf");
}

#header {
    text-align:center;
    padding:1px;
    font-family:"restaurant";
}

#footer {
    text-align:center;
    border-top:solid black;
}

.line {
    width:100%;
    border:1px solid black;
}

#home {
    width:33%;
    padding:15px;
    text-align:right;
    font-weight:bold;
}

#menu {
    width:33%;
    text-align:center;
    font-weight:bold;
}

#contact {
    width:33%;
    text-align:left;
    font-weight:bold;
}

a {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}